.idea/
__pycache__/
checkpoints/
nlp_framework/data/
nlp_framework/.idea/
nlp_framework/.ipynb_checkpoints/
nlp_framework/__pycache__/
nlp_framework/*.bin
nlp_framework/for_test.ipynb
nlp_framework/config/__pycache__/
nlp_framework/models/__pycache__/
nlp_framework/preprocess/__pycache__/
nlp_framework/utils/__pycache__/